
profiles {
  standard {
    process.container = 'cbcrg/eosc-pilot:1.2'
    docker.enabled = true

    env.TMPDIR='${TMPDIR:=$(mktemp -d)}'
    env._JAVA_OPTIONS='-Djava.io.tmpdir=$TMPDIR'

    params.test = true
    docker.runOptions = "-v $baseDir:$baseDir"
  }

  gonl34 {
    process.container = 'cbcrg/eosc-pilot:gonl3.4'
    docker.enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'

    env.TMPDIR='${TMPDIR:=$(mktemp -d)}'
    env._JAVA_OPTIONS='-Djava.io.tmpdir=$TMPDIR'

    params.gatk = '/gatk3.7'
    params.test = true
    params.picard='/opt/conda/bin/picard'
    docker.runOptions = "-v $baseDir:$baseDir" 
  }
}
