
profiles {
  legacy {
    process.container = 'cbcrg/eosc-pilot:1.2'
    docker.enabled = true

    env.TMPDIR='${TMPDIR:=$(mktemp -d)}'
    env._JAVA_OPTIONS='-Djava.io.tmpdir=$TMPDIR'

    params.test = true
    docker.runOptions = "-v $baseDir:$baseDir"
  }

  standard {
    params.gatk = "$PWD/GenomeAnalysisTK.jar"
    params.picard='/opt/conda/share/picard-2.9.2-2'

    env.TMPDIR='${TMPDIR:=$(mktemp -d)}'
    env._JAVA_OPTIONS='-Djava.io.tmpdir=$TMPDIR'
    
    process.container = 'cbcrg/eosc-pilot:gonl3.4'
    
    docker.enabled = true
    docker.runOptions="-u \$(id -u):\$(id -g) -v $baseDir:$baseDir -v ${params.gatk}:${params.gatk}"
  }

  travis {
    params.gatk = '/opt/gatk3.7/GenomeAnalysisTK.jar'
    process.container = '885800555707.dkr.ecr.eu-west-1.amazonaws.com/cbcrg/eosc_with_gatk3.7'
  }
}
